* {
    color: white;
}

div {
    background-color: black;
}

body {
    background-color: black;
}

img {
    max-width: 320px;
    max-height: 320px;
    margin-left: 0px;
    margin-right: 0px;
}


button {
    background-color: black;
    border: 0px;
}

#header {
    text-align: center;
    padding: 3%;
    margin: 3px solid white;
}

#list {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}