* {
    box-sizing: border-box;
    color: white;
    background-color: black;
}

img {
    max-width: 32px;
}

.header {
    display: grid;
    align-items: center;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

input {
    width: 30%;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

ul li {
    background-color: darkgrey;
    color: black;
    width: 70%;
}
